.contenedor-icon
	background-color: #0064AD
	border-radius: 5px
	line-height: 48px
	height: 48px
	font-size: 32px
	width: 48px
	span
		color: #FFFFFF
		margin: 8px

.contenido-left
	border-right: 1px solid #CCCCCC
	float: left
	width: 69.5%

.contenido-right
	display: inline-block
	width: 30%
.mostrarmas
	margin: 10px 0
	display: block
	float: right
	text-decoration: none
	text-align: right
	color: #2C3E50
.mostrarmas:hover
	text-decoration: underline