@import 'nib'
@import 'iconos.styl'
@import 'cajas.styl'
body
    background-color: #F0F0F0
    color: #2C3E50
    font-family: 'pt_sans'
#contenido
    background-color: #FFFFFF
    border: 1px solid #CCCCCC
    border-radius: 5px
    margin: 20px auto
    overflow: hidden
    width: 960px 
    .contenido-left
        section
            padding: 0 10px 10px 10px
            a
                color: #2C3E50
                text-decoration: none
            h3
                margin-bottom: 0
            ul
                margin: 0
                padding-left: 20px
            #contacto
                border-top: 1px solid #CCCCCC
                border-bottom: 1px solid #CCCCCC
                overflow: hidden
                padding: 10px
                .contacto-tarjeta
                    float: left
                    margin: 0px 5px
                    div
                        background-color: #0064AD
                        display: inline-block
                        font-size: 16px
                        height: 32px                
                        line-height: 32px
                        width: 32px
                        i
                            color: #FFFFFF
                            margin: 0 8px
                            text-align: center
                            vertical-align: middle
                    a
                        color: #0064AD
                        font-size: 14px
                        text-decoration: none
                    a:hover
                        cursor: pointer
                        text-decoration: underline

                .contacto-tarjeta[data-contacto=twitter]
                    div
                        background-color: #5CC7EB
                .contacto-tarjeta[data-contacto=fb]
                    div
                        background-color: #4D639C
                .contacto-tarjeta[data-contacto=gplus]
                    div
                        background-color: #DA2128
                .contacto-tarjeta[data-contacto=mail]
                    div
                        background-color: #2C3E50
            .persona-left
                padding: 10px 0
                .persona-header
                    margin-left: 100px
                    img
                        margin-left: -100px
                        float: left
                p
                    margin-top: 0px
                    margin-left: 100px
                    display: block
            .persona-right
                padding: 10px 0
                .persona-header
                    margin-right: 100px
                    img
                        margin-right: -100px
                        float: right
                p
                    margin-top: 0px
                    margin-right: 100px
                    display: block
        #contenido-cabecera
            border-bottom: 1px solid #CCCCCC
            font-size: 16px
            line-height: 48px
            margin: 10px
            overflow: hidden
            padding: 0px 0px 10px 0px
            h2
                float: left
                margin: 0px 10px
            p
                color: #777777
                float: right
                margin: 0px 10px
            .contenedor-icon
                float: left