@import 'nib'
@import 'iconos.styl'

body
    background-color #FFFFFF
    color #333
    font-size 16px

.wrapper-titulo
	display block    
    height 50px
    
    h1
        padding 7.5px 8px 7.5px 32px 
    

.wrapper-link
    display block  
    margin 0

#info-item,#equipo-item,#contacto-item,#otros-item
    display inline-block
    
    a
        padding 7.5px 8px 7.5px 8px
        text-decoration none
    img
        background-color #0064AD
        height 40px

    figure,a
        display inline-block
        vertical-align top
    
    h3
        float right
#info-item
    border 1px solid #CCCCCC
    a
        height 40px 

#equipo-item
    border 1px solid #CCCCCC
    a
        height 40px  
#contacto-item
    border 1px solid #CCCCCC
    a
        height 40px  
#otros-item
    border 1px solid #CCCCCC
    a
        height 40px  
.wraper-equipo
    display block
    margin 0

#escalante-item,#tini-item
    display block
    margin 0
    padding 7.5px 8px 7.5px 8px   
    img
        height 120px       
        
    figure,section
        display inline-block
        vertical-align top
    figure
        float left

#chejo-item
    display block
    margin 0
    padding 7.5px 8px 7.5px 8px   
    img
        height 120px
               
        
    figure,section
        display inline-block
        vertical-align top
   figure

        float right


    

    
#tini-item
    display inline-block

    figure
        
    figure,#dato-tini
        display inline-block
        vertical-align top
#dato-tini
        padding 7.5px 8px 7.5px 10px
        float left
.sociales-item
    display block
    
#twitter
    height 50px
    figure
        background-color #5CC7EB
#facebook
    height 50px
    figure
        background-color #4D639C
#google
    height 50px
    figure
        background-color #DA2128
#correo
    height 50px
    figure
        background-color #2C3E50

#twitter,#facebook,#google,#correo
    display inline-block
    

    
    a
        padding 7.5px 8px 7.5px 10px
        text-decoration none
    figure
        float left
    figure,a
        display inline-block
        vertical-align top
    p
        color #000
.wrapper-ayuda
    display block
    margin 0
#ayuda-item
    display block
    margin 0
    padding 7.5px 8px 7.5px 8px   
    figure
        background-color #0064AD
        float right      
    
    img
        height 60px
        
    figure,section
        display inline-block
        vertical-align top
   


        