@import 'nib'
@import 'iconos.styl'
@import 'cajas.styl'
body
    background-color: #F0F0F0
    color: #2C3E50
    font-family: 'pt_sans'
#contenido
    background-color: #FFFFFF
    border: 1px solid #CCCCCC
    border-radius: 5px
    margin: 20px auto
    overflow: hidden
    width: 960px
    a
        color: #0064AD
        text-decoration: none
    a:hover
        text-decoration: underline
    textarea
        height: 100px
    select
        border: 1px solid #2C3E50
        color: #2C3E50
        padding: 5px
        width: 290px
    input[type="text"], textarea, input[type="email"]
        border: 1px solid #2C3E50
        border-radius: 5px
        color: #2C3E50
        margin-bottom: 10px
        padding: 5px
        width: 250px
    
#contenido-datos
    padding: 10px
    display: block
    label
        float: left
    div
        margin-left: 150px
    div > button, input[type="submit"]
        background-color: #0064AD
        border: 0
        border-radius: 5px
        color: #FFFFFF
        padding: 5px
    div > button:hover, input[type="submit"]:hover
        background-color: #004B8B
    p
        margin: 0
        display: inline-block
    img
        display: block
        margin-bottom: 10px
    div, label
        margin-top: 10px
    #idiomas
        margin-top: -5px
#contenido-logros
    padding: 10px
#contenido-logros > p, #contenido-logros > h3
    margin: 10px 0px

#contenido-habilidades
    padding: 10px
#contenido-habilidades > p, #contenido-habilidades > h3
    margin: 10px 0px

.contenido-left
    border: 0px
    width: 30%
.contenido-right
    border-left: 1px solid #CCCCCC
    width: 69.5%
