@import 'nib'
@import 'iconos.styl'
@import 'cajas.styl'
body
    background-color: #F0F0F0
    color: #2C3E50
    font-family: 'pt_sans'
#contenido
    background-color: #FFFFFF
    border: 1px solid #CCCCCC
    border-radius: 5px
    margin: 20px auto
    overflow: hidden
    width: 360px
    form
        color: #2C3E50
        margin-bottom: 20px
        input
            width: 250px
            border: 1px solid #2C3E50
            display: block
            margin: 10px auto
            height: 20px
            padding: 5px
        input[type="submit"]
            background-color: #0064AD
            color: #FFFFFF
            height: 32px
            width: 262px
        input[type="submit"]:hover
            background-color: #004B8B
            text-decoration: underline
    img
        display: block
        margin: 20px auto