input{
	color: #000;
	text-align: left;
	border-radius: 5px;
}
#input-nombre .icon-user{
	color: #2C3E50 !important;
	position: absolute;
	line-height: 1.5;
	padding-left: 0.3em;
}
#input-email .icon-mail{
	color: #2C3E50 !important;
	position: absolute;
	line-height: 1.5;
	padding-left: 0.3em;
}
#input-password .icon-password{
	color: #2C3E50 !important;
	position: absolute;
	line-height: 1.5;
	padding-left: 0.3em;
}
#ingresoDatos{
	position: relative;
	right: 150px;
	float: right;
	display: block;
	float: right;
	margin-top: 20px;
}
#nombre{
	margin-top: 10px;
	display: block !important;
	padding: 0.1em 0em 0.1em 1.8em;
}
#email{
	margin-top: 10px;
	display: block !important;
	padding: 0.1em 0em 0.1em 1.8em;
}
#password{
	margin-top: 10px;
	display: block !important;
	padding: 0.1em 0em 0.1em 1.8em;
}
#titulo{
	float: left;
	display: inline-block;
	font-size: 12px;
	height: 222px;
	width: 380px;
}
#titulo h2{
	color: #2C3E50;
}
#wrapper-contenido{
	width: 960px;
	background: #fff;
	margin: 0 auto;
}
#boton{
	background: #0064AD;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
}
#perfil, #acceso, #profesionales, #habilidades{
	font-size: 11px;
	background: #EFF0F2;
	height: 150px;
	width: 200px;
	text-align: center;
	border-radius: 5px;
}
#perfil{
	position: relative;
	top: 260px;
	right: 365px;
	display: inline-block;
}
#profesionales{
	position: relative;
	top: 110px;
	right: 150px;
	display: inline-block;
}
#acceso{
	position: relative;
	bottom: 40px;
	left: 445px;
	display: inline-block;
}
#habilidades{
	position: relative;
	bottom: 40px;
	left: 455px;
	display: inline-block;
}