header{color:#fff;height:50px;margin:0 auto;position:relative;width:960px;}
header #logo{color:#fff;float:left;position:relative;text-decoration:none;}
header #logo h1{font-size:24px;float:left;margin:10px 10px 10px 0}
header #logo img{float:left;margin:5px 10px 5px 10px}
header nav{display:block;float:right;height:50px;}
header nav ul{margin:0;padding:0;font-size:0;}
header nav ul li{display:inline-block;list-style:none;position:relative;vertical-align:top;}
header nav ul li div{font-size:16px;padding:0 .75em;margin:15.5px 0;display:block;border-left:2px solid #fff}
header nav ul li:last-child{background-color:#004b8b;position:relative;}
header nav ul li:last-child div{border:0}
header nav ul li:last-child:hover{background-color:#004b8b}
header nav ul li:hover{background:rgba(255,255,255,0.15)}
#header-usuario{margin:7px 0 7px 48px;}
#header-usuario a{text-decoration:none;height:auto;color:#fff;}
#header-usuario a img{float:left;margin-left:-48px}
#header-usuario p{font-size:14px;display:block;margin:0;padding:0}
#header-menu{font-size:16px;color:#2c3e50;border:1px solid #004b8b;border-top:0;display:none;}
#header-menu li{list-style:none;display:block;text-align:center;background-color:#fff;padding:.3em 0}
#header-menu li:hover{background-color:#ddd}
.menu-active{display:block !important}
#header-registro a{text-decoration:none}
#header-registro a:last-child{background-color:rgba(255,255,255,0.95);-webkit-border-radius:.3em;border-radius:.3em;padding:.4em;color:#0064ad}
#header-registro a:hover{cursor:pointer;text-decoration:underline}
#header-search #input-search{display:none}
#header-search .icon-search{color:#fff;cursor:pointer}
#wrapper-header{background-color:#0064ad}
.search-active{margin:12.5px 0;position:relative;}
.search-active .icon-search{color:#2c3e50 !important;position:absolute;line-height:1.5;padding-left:.3em}
.search-active #input-search{display:block !important;padding:.1em 0 .1em 1.8em;margin:0;border:1px solid #2c3e50;-webkit-border-radius:3px;border-radius:3px;min-height:1.5em;outline:0;font-size:.875em;color:#777;width:250px}
