@import "nib"
@import "iconos.styl"
@import "main-header.styl"
body
	background-color: #F0F0F0
	color: #2C3E50
#perfil
	background-color: #FFFFFF
	border: 1px solid #CCCCCC
	border-radius: 5px
	margin: 20px auto
	width: 960px