@import 'nib'
@import 'iconos.styl'

body
    background-color #FFFFFF
    color #333
    font-size 16px
   
.wrapper-Titulo    
    display block    
    height 50px
    padding 7.5px 8px 7.5px 32px
    
    a
        height 35px
        margin 0
        float left
    
    a, #Titulo
        display inline-block
        vertical-align top

    #Titulo
        font-size 1.5em
        margin 0
        padding 7.5px 8px 7.5px 16px
.wrapper-Contenido
    display block
    height 500px
    padding 7.5px 8px 7.5px 32px

    a
        text-decoration none
    
    p
        font-size 1.1em    
    #item-administrador
        margin 0
        padding 15px 16px 15px 32px 

    #item-general
        margin 0
        padding 15px 16px 15px 24px 
    #item-ayuda
        margin 0
        padding 15px 16px 15px 32px 
    #item-usuario
        margin 0
        padding 15px 16px 15px 32px 
    
    #item-administrador, #item-ayuda
        display inline-block
        vertical-align top
    #item-general, #item-usuario
        display inline-block
        vertical-align top
    
