@import 'nib'
@import 'iconos.styl'

body
    background-color #FFFFFF
    color #333
    font-size 16px

.wrapper-habilidad
	
    display block
    margin 0
#habilidad-item
    display block
    margin 0
    padding 7.5px 8px 7.5px 8px
    img
        height 90px       
        
    figure,section
        display inline-block
        vertical-align top
    figure
        float left
    h2
    	margin 0
    p
        
    	margin 1

.wrapper-destacados	
    padding px 8px 7.5px 8px
    display block
    margin 0
#destacados-item
    display block
    margin 0
    padding 7.5px 8px 7.5px 8px 

    img
    	background-color #0064AD
    	height 48px       
        
    figure,section
        display inline-block
        vertical-align top
    
    figure
		    	       
        float left
        padding 7.5px 32px 7.5px 16px 
    h2
    	margin 1
.wrapper-contenido
    display block
    padding 7.5px 32px 7.5px 16px 
#contenido-item
    display block
    margin 0
    
    
    img
        background-color #0064AD
        height 48px       

    figure,section
        display inline-block
        vertical-align top
    figure
        float left
        padding 4px 2px 2px 2px
         
    
#inferior-item
    display block
    margin 0
    
    a 
        text-decoration none
    #imagen-locaction
        margin 0
        background-color #000000
        height 16px !important       

    figure,section
        display inline-block
        vertical-align top
    figure
        float left
        padding 2px 8px 7.5px 8px
    h3
        margin 0
        padding 2px 8px 2px 8px
    h4,a
        margin 0
        float left
    
    #abajo-item
        margin 0
        background-color #CCCCCC
    #NivelDominio
        padding 1px 8px 7.5px 32px
        
    #ubicacion
        padding 1px 1px 7.5px 1px
#columana-uno,#columana-dos
    display inline-block
    vertical-align top
#columana-uno
    
    border 1px solid #CCCCCC
#columana-dos
    float right
    border 1px solid #CCCCCC
.mas-item
    border 1px 70px 1px 64px
    margin 0
    
#boton-item
    background-color #0064AD
    color #FFF 
    padding 1px 75px 1px 75px
    p
        
        margin 0
.wrapper-proyectos
    display block
    padding 8px 8px 7.5px 8px    

#proyectos-item
    

    figure,section
        display inline-block
        vertical-align top
    figure
        float left
        padding 2px 8px 7.5px 8px
#foto-usuario
        background-color #0064AD 
        height 48px 
#datos-item
    display block
    h4,h5
        margin 0
#vistas-item
    display block
    p
        display inline-block
        vertical-align top
        margin 0
#fecha
        color #FFF        
        height 19px

#Link-Mas
    display block
    margin 0
#link
    text-decoration none   


#wrapper-izquierdo
    float left 
    
    width 75%
#wrapper-derecho
    
    width 24%
    float right
