{% verbatim %}
     <article class="logro">
        <div class="contenedor-icon">
            <span class="icon-library"></span>
        </div>
        <div class="logro-header">
            <b class="logro-titulo">Ingenieria en informatica y sistemas</b>
            <p class="logro-fecha">2013/08/10</p>
        </div>
        <p class="logro-descripcion">Universidad Rafael Landivar</p>
        <div class="logro-opciones">
            <a href="#">Eliminar</a>
            <a href="#">Editar</a>
        </div>
    </article>
{% endverbatim %}