@import 'main-header.styl'
@import 'nib'
@import 'iconos.styl'
@import 'cajas.styl'
body
    background-color: #F0F0F0
    color: #2C3E50
    font-family: 'pt_sans'
#contenido
    background-color: #FFFFFF
    border: 1px solid #CCCCCC
    border-radius: 5px
    margin: 20px auto
    overflow: hidden
    width: 960px
    .contenido-right
        #contenido-general
            padding: 10px
            overflow: hidden
            #general-cabecera
                h3, p
                    margin: 0
                    padding: 0
            #general-resultados
                h3
                    margin: 20px 0px 10px 0px
                
            
.contenido-left
    border: 0px
    width: 30%
.contenido-right
    border-left: 1px solid #CCCCCC
    width: 69.5%
.btn-aceptar
    background-color: #0064AD
    border: 1px solid #004B8B
    border-radius: 2.5px
    color: #FFFFFF
    text-decoration: none
.btn-aceptar:hover
    background-color: #004B8B
    text-decoration: underline
@import 'main-footer.styl'
