.contenedor-icon
	background-color: #0064AD
	border-radius: 5px
	line-height: 48px
	height: 48px
	font-size: 32px
	width: 48px
	span
		color: #FFFFFF
		margin: 8px
		text-align: center
		vertical-align: middle

.contenido-left
	border-right: 1px solid #CCCCCC !important
	float: left
	width: 69.5%

.contenido-right
	margin-left: -1px
	border-left: 1px solid #CCCCCC 
	display: inline-block
	width: 30%
.sub-menu
	ul
		margin: 0
		padding: 0
		li
			margin: 0
			padding: 10px
			list-style: none
			border-bottom: 1px solid #CCCCCC
			a
				color: #2C3E50
				text-decoration: none
		li:hover
			background-color: #F0F0F0
			cursor: pointer

.mostrarmas
	margin: 10px 0px
	display: block
	float: right
	text-decoration: none
	text-align: right
	color: #2C3E50
.mostrarmas:hover
	text-decoration: underline

.usuario, .tecnologia
	border-top: 1px solid #CCCCCC
	padding: 10px 0px
	overflow: hidden;
	a
		color: #2C3E50
		text-decoration: none
	a:hover
		text-decoration: underline
	p
		margin: 0px 0px 10px 50px
		overflow: hidden
		padding: 0
	.usuario-header, .tecnologia-header
		margin-left: 50px
		a
			img
				float: left
				margin-left: -50px
	.usuario-footer, .tecnologia-footer
		a:last-child
			float: right
.btn-aceptar
    background-color: #0064AD
    border: 1px solid #004B8B
    border-radius: 2.5px
    color: #FFFFFF
    text-decoration: none
.btn-aceptar:hover
	background-color: #004B8B
	text-decoration: underline

.idioma
	background-color: #0064AD
	color: #FFFFFF
	overflow: hidden
	padding: 5px
	display: inline-block
	border-radius: 5px
	button
		margin-left: 5px !important
		color: #FFFFFF
		border: 0px
		background-color: transparent
	p, button
		float: left
		margin: 0
		padding: 0
		font-size: 14px
.idioma:hover
	background-color: #004B8B

.logro
	border-top: 1px solid #CCCCCC
	display: block
	padding: 10px 0px
	overflow: hidden
	p
		color: #777777
	b, p
		margin: 0
	.logro-header
		.logro-fecha
			float: right
	.logro-descripcion, .logro-header
		margin-left: 55px
	.contenedor-icon
		border-radius: 0px
		float: left
	.logro-opciones
		float: right
		margin-top: -19px
		a
			margin-left: 5px
.habilidad-editar
	margin: 10px 10px 10px 0px
	overflow: hidden
	display: inline-block
	p
		display: block
		margin: 0 0 0 58px
		i
			color: #F1C40F
			margin: 0px 0.5px
	.habilidad-header
		margin-left: 58px
		img
			float: left
			margin-left: -58px
	.habilidad-opciones
		a
			margin-right: 5px

.proyecto-editar
	border-top: 1px solid #CCCCCC
	overflow: hidden
	margin: 10px 0px
	.proyecto-content
		margin-bottom: 10px
		overflow: hidden
		img
			float: left
		> p
			margin-left: 100px
			margin-top: 0px
		
	.proyecto-header
		overflow: hidden
		b
			float: left
		p
			float: right
			color: #777777
		b, p
			margin: 10px 0px
	.proyecto-opciones
		.opciones-ajustes
			float: right
			a
				margin-left: 5px
		.opciones-datos
			float: left
			p
				margin: 0
				.icon-arrow-down
					color: #C0392B
				.icon-arrow-up
					color: #27AE60
.error
	background-color: #FFFFFF
	border: 1px solid #CCCCCC
	border-radius: 5px
	font-size: 0
	margin: 20px auto
	overflow: hidden
	width: 940px
	padding: 40px 0px
	text-align: center
	p
		margin: 10px 0px
		font-size: 32px
.usuarios-mas
	display: block
	text-decoration: none
	height: 50px
	line-height: 50px
	margin: 10px auto
	text-align: center
	width: 50%
.btn-aceptar
	background-color: #0064AD
	border: 1px solid #004B8B
	border-radius: 2.5px
	color: #FFFFFF
	text-decoration: none
.btn-aceptar:hover
	background-color: #004B8B
	text-decoration: underline