@font-face{font-family:'russo_one';src:url("fonts/russoone-regular-webfont.eot");src:url("fonts/russoone-regular-webfont.eot?#iefix") format('embedded-opentype'),url("fonts/russoone-regular-webfont.woff") format('woff'),url("fonts/russoone-regular-webfont.ttf") format('truetype'),url("fonts/russoone-regular-webfont.svg#russo_oneregular") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'pt_sans';src:url("fonts/pt_sans-web-regular-webfont.eot");src:url("fonts/pt_sans-web-regular-webfont.eot?#iefix") format('embedded-opentype'),url("fonts/pt_sans-web-regular-webfont.woff") format('woff'),url("fonts/pt_sans-web-regular-webfont.ttf") format('truetype'),url("fonts/pt_sans-web-regular-webfont.svg#pt_sansregular") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'icomoon';src:url("fonts/icomoon.eot");src:url("fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("fonts/icomoon.ttf") format('truetype'),url("fonts/icomoon.woff") format('woff'),url("fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}
[class*="icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-search:before{content:"\e600"}
.icon-user:before{content:"\e601"}
.icon-password:before{content:"\e602"}
.icon-mail:before{content:"\e603"}
.icon-location:before{content:"\e604"}
.icon-portafolio:before{content:"\e606"}
.icon-console:before{content:"\e607"}
.icon-screen:before{content:"\e608"}
.icon-mobile:before{content:"\e609"}
.icon-settings:before{content:"\e60a"}
.icon-web:before{content:"\e60b"}
.icon-eye:before{content:"\e60c"}
.icon-eye-blocked:before{content:"\e60d"}
.icon-exit:before{content:"\e60e"}
.icon-enter:before{content:"\e60f"}
.icon-trophy:before{content:"\e610"}
.icon-conference:before{content:"\e612"}
.icon-library:before{content:"\e616"}
.icon-star:before{content:"\e617"}
.icon-warning:before{content:"\e618"}
.icon-twitter:before{content:"\e619"}
.icon-facebook:before{content:"\e61a"}
.icon-google-plus:before{content:"\e61b"}
.icon-users:before{content:"\e61d"}
.icon-close:before{content:"\e61f"}
.icon-checkmark:before{content:"\e620"}
.icon-spinner:before{content:"\e621"}
.icon-signup:before{content:"\e611"}
.icon-graduate:before{content:"\e613"}
.icon-medal:before{content:"\e614"}
.icon-question:before{content:"\e61c"}
.icon-language:before{content:"\e61e"}
.icon-arrow-up:before{content:"\e605"}
.icon-arrow-down:before{content:"\e615"}
.contenedor-icon{background-color:#0064ad;-webkit-border-radius:5px;border-radius:5px;line-height:48px;height:48px;font-size:32px;width:48px;}
.contenedor-icon span{color:#fff;margin:8px;text-align:center;vertical-align:middle}
.contenido-left{border-right:1px solid #ccc !important;float:left;width:69.5%}
.contenido-right{margin-left:-1px;border-left:1px solid #ccc;display:inline-block;width:30%}
.sub-menu ul{margin:0;padding:0;}
.sub-menu ul li{margin:0;padding:10px;list-style:none;border-bottom:1px solid #ccc;}
.sub-menu ul li a{color:#2c3e50;text-decoration:none}
.sub-menu ul li:hover{background-color:#f0f0f0;cursor:pointer}
.mostrarmas{margin:10px 0;display:block;float:right;text-decoration:none;text-align:right;color:#2c3e50}
.mostrarmas:hover{text-decoration:underline}
.usuario,.tecnologia{border-top:1px solid #ccc;padding:10px 0;overflow:hidden;}
.usuario a,.tecnologia a{color:#2c3e50;text-decoration:none}
.usuario a:hover,.tecnologia a:hover{text-decoration:underline}
.usuario p,.tecnologia p{margin:0 0 10px 50px;overflow:hidden;padding:0}
.usuario .usuario-header,.tecnologia .usuario-header,.usuario .tecnologia-header,.tecnologia .tecnologia-header{margin-left:50px;}
.usuario .usuario-header a img,.tecnologia .usuario-header a img,.usuario .tecnologia-header a img,.tecnologia .tecnologia-header a img{float:left;margin-left:-50px}
.usuario .usuario-footer a:last-child,.tecnologia .usuario-footer a:last-child,.usuario .tecnologia-footer a:last-child,.tecnologia .tecnologia-footer a:last-child{float:right}
.btn-aceptar,background-color: #0064AD,border: 1pxsolid #004B8B,border-radius: 3px,color: #FFFFFF,text-decoration: none,.btn-aceptar:hover{background-color:#004b8b;text-decoration:underline}
.idioma{background-color:#0064ad;color:#fff;overflow:hidden;padding:5px;display:inline-block;-webkit-border-radius:5px;border-radius:5px;}
.idioma button{margin-left:5px !important;color:#fff;border:0;background-color:transparent}
.idioma p,.idioma button{float:left;margin:0;padding:0;font-size:14px}
.idioma:hover{background-color:#004b8b}
.logro{border-top:1px solid #ccc;display:block;padding:10px 0;overflow:hidden;}
.logro p{color:#777}
.logro b,.logro p{margin:0}
.logro .logro-header .logro-fecha{float:right}
.logro .logro-descripcion,.logro .logro-header{margin-left:55px}
.logro .contenedor-icon{-webkit-border-radius:0;border-radius:0;float:left}
.logro .logro-opciones{float:right;margin-top:-19px;}
.logro .logro-opciones a{margin-left:5px}
.habilidad-editar{margin:10px 10px 10px 0;overflow:hidden;display:inline-block;}
.habilidad-editar p{display:block;margin:0 0 0 58px;}
.habilidad-editar p i{color:#f1c40f;margin:0 .5px}
.habilidad-editar .habilidad-header{margin-left:58px;}
.habilidad-editar .habilidad-header img{float:left;margin-left:-58px}
.habilidad-editar .habilidad-opciones a{margin-right:5px}
.proyecto-editar{border-top:1px solid #ccc;overflow:hidden;margin:10px 0;}
.proyecto-editar .proyecto-content{margin-bottom:10px;overflow:hidden;}
.proyecto-editar .proyecto-content img{float:left}
.proyecto-editar .proyecto-content > p{margin-left:100px;margin-top:0}
.proyecto-editar .proyecto-header{overflow:hidden;}
.proyecto-editar .proyecto-header b{float:left}
.proyecto-editar .proyecto-header p{float:right;color:#777}
.proyecto-editar .proyecto-header b,.proyecto-editar .proyecto-header p{margin:10px 0}
.proyecto-editar .proyecto-opciones .opciones-ajustes{float:right;}
.proyecto-editar .proyecto-opciones .opciones-ajustes a{margin-left:5px}
.proyecto-editar .proyecto-opciones .opciones-datos{float:left;}
.proyecto-editar .proyecto-opciones .opciones-datos p{margin:0;}
.proyecto-editar .proyecto-opciones .opciones-datos p .icon-arrow-down{color:#c0392b}
.proyecto-editar .proyecto-opciones .opciones-datos p .icon-arrow-up{color:#27ae60}
.error{background-color:#fff;border:1px solid #ccc;-webkit-border-radius:5px;border-radius:5px;font-size:0;margin:20px auto;overflow:hidden;width:940px;padding:40px 0;text-align:center;}
.error p{margin:10px 0;font-size:32px}
.usuarios-mas{display:block;text-decoration:none;height:50px;line-height:50px;margin:10px auto;text-align:center;width:50%}
.btn-aceptar{background-color:#0064ad;border:1px solid #004b8b;-webkit-border-radius:2.5px;border-radius:2.5px;color:#fff;text-decoration:none}
.btn-aceptar:hover{background-color:#004b8b;text-decoration:underline}
body{background-color:#f0f0f0;color:#2c3e50;font-family:'pt_sans'}
#contenido{background-color:#fff;border:1px solid #ccc;-webkit-border-radius:5px;border-radius:5px;margin:20px auto;overflow:hidden;width:960px;}
#contenido a{color:#0064ad;text-decoration:none}
#contenido a:hover{text-decoration:underline}
#contenido textarea{height:100px}
#contenido select{border:1px solid #2c3e50;color:#2c3e50;padding:5px;width:290px}
#contenido input[type="text"],#contenido textarea,#contenido input[type="email"]{border:1px solid #2c3e50;-webkit-border-radius:5px;border-radius:5px;color:#2c3e50;margin-bottom:10px;padding:5px;width:250px}
#contenido-datos{padding:10px;display:block;}
#contenido-datos label{float:left}
#contenido-datos div{margin-left:150px}
#contenido-datos div > button,#contenido-datos input[type="submit"]{background-color:#0064ad;border:0;-webkit-border-radius:5px;border-radius:5px;color:#fff;padding:5px}
#contenido-datos div > button:hover,#contenido-datos input[type="submit"]:hover{background-color:#004b8b}
#contenido-datos p{margin:0;display:inline-block}
#contenido-datos img{display:block;margin-bottom:10px}
#contenido-datos div,#contenido-datos label{margin-top:10px}
#contenido-datos #idiomas{margin-top:-5px}
#contenido-logros{padding:10px}
#contenido-logros > p,#contenido-logros > h3{margin:10px 0}
#contenido-habilidades{padding:10px}
#contenido-habilidades > p,#contenido-habilidades > h3{margin:10px 0}
#contenido-portafolio{padding:10px}
#contenido-portafolio > p,#contenido-portafolio > h3{margin:10px 0}
.contenido-left{border:0;width:30%}
.contenido-right{border-left:1px solid #ccc;width:69.5%}
.logro{margin-left:0 !important}
