{% extends 'base.html' %}
{% block head %}
    <title>Busqueda - Devsocial</title>
    <meta name="description" content="">
{% endblock %}
{% block style_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/busqueda.css" />
{% endblock%}
{% block body %}
    <section id="contenido">
        <section class="contenido-left sub-menu">
            <ul>
                <li id="general"><a href="#">General</a></li>
                <li id="usuarios"><a href="#">Usuarios</a></li>
                <li id="tecnologias"><a href="#">Tecnologías</a></li>
            </ul>
        </section>
        <section class="contenido-right">
            <section id="contenido-general" class='contenido-style'>
                <div class="cabecera">
                    <h3>Resultados de la busqueda:</h3>
                    <p>Se han encontrado aproximadamente 6 resultados.</p>
                </div>
                <section id="general-resultados" class='resultado'>
                </section>
            </section>
            <section id="contenido-usuarios" class='contenido-style'>
                <div class="cabecera">
                    <h3>Resultados de la busqueda:</h3>
                    <p>Se han encontrado aproximadamente 3 resultados.</p>
                </div>
                <section id="usuarios-resultados" class='resultado'>
                </section>
            </section>
            <section id="contenido-tecnologias" class='contenido-style'>
                <div class="cabecera">
                    <h3>Resultados de la busqueda:</h3>
                    <p>Se han encontrado aproximadamente <span>4</span> resultados.</p>
                </div>
                <section id="tecnologias-resultados" class='resultado'>
                </section>
            </section>
        </section>
    </section>
{% endblock %}
{% block js_files %}
    <script src="{{STATIC_URL}}js/vendor/underscore.js"></script>
    <script src="{{STATIC_URL}}js/vendor/backbone.js"></script>
    <script src="{{STATIC_URL}}js/vendor/swig.js"></script>
    <script src="{{STATIC_URL}}js/init.js"></script>
    <script src="{{STATIC_URL}}js/backbone/views/search-menu.js"></script>
    <script src="{{STATIC_URL}}js/backbone/views/usuario.js"></script>
    <script src="{{STATIC_URL}}js/backbone/views/tecnologia.js"></script>
    <script src="{{STATIC_URL}}js/backbone/models/usuario.js"></script>
    <script src="{{STATIC_URL}}js/backbone/models/tecnologia.js"></script>
    <script src="{{STATIC_URL}}js/backbone/collections/usuarios.js"></script>
    <script src="{{STATIC_URL}}js/backbone/collections/tecnologias.js"></script>
    <script src="{{STATIC_URL}}js/main-search.js"></script>
{% endblock %}