<div id="wrapper-footer">
    <footer>
        <div id="footer-left">
            <section id="footer-about">
                <b>Acerca de</b>
                <ul>
                    <li><a href="#">Información del sitio</a></li>
                    <li><a href="#">Condiciones del servicio</a></li>
                    <li><a href="#">Politica de privacidad</a></li>
                    <li><a href="#">Información legal</a></li>
                <ul>
            </section>
            <section id="footer-ayuda">
                <b>Ayuda</b>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Soporte tecnico</a></li>
                    <li><a href="#">Mapa del sitio</a></li>
                <ul>
            </section>
            <section id="footer-comunidad">
                <b>Comunidad</b>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Github</a></li>
                <ul>
            </section>
        </div>
        <section id="footer-contacto">
            <div class="contacto-tarjeta" data-contacto="twitter">
                <div ><i class="icon-twitter"></i></div>
            </div>
            <div class="contacto-tarjeta" data-contacto="fb">
                <div ><i class="icon-facebook"></i></div>
            </div>
            <div class="contacto-tarjeta" data-contacto="gplus">
                <div ><i class="icon-google-plus"></i></div>
            </div>
            <div class="contacto-tarjeta" data-contacto="mail">
                <div ><i class="icon-mail"></i></div>
            </div>
        </section>
        <div id="info-web">
            <img src="{{STATIC_URL}}img/logo_extended.png" height="50" width="150"/>
            <p>Copyright 2013<b></b></p>
            <p>Todos los derechos reservados</p>
        </diV>
    </footer>
</div>
