<div id="wrapper-header">
    <header>
        <a id="logo" href="#">
            <img src="/static/img/logo_thumb.png" width="40" height="40"/>
            <h1>Devsocial</h1>
        </a>
        <nav>
            <ul>
                <li>
                    <div id="header-search">
                        <i class="icon-search"></i>
                        <input id="input-search"type="search" placeholder="Ingrese su busqueda"/>
                    </div>
                </li>
                <li>
                    <div id="header-reportar">
                        <i class="icon-warning"></i>
                    </div>
                </li>
                {% if user.is_authenticated = False %}
                <li>
                    <div id="header-registro">
                        <a href="/login/">Inicia sesión</a> o <a href="/usuario/registrarse/">Registrate</a>
                    </div>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                    <div id="header-usuario">
                        <a href="/usuarios/{{user.username}}">
                            <img height="40" width="40" src="/media/{{user.perfil.foto}}"/>
                            <b>{{ user.username }}</b>
                        </a>
                        <p>{{ user.email }}</p>
                    </div>
                    <ul id="header-menu">
                        <li><a href="/modificar/personal">Editar perfil</a></li>
                        <li><a href="/ayuda/">Ayuda</a></li>
                        <li><a href="/logout/">Cerrar sesión</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
</div>