{% extends 'base.html' %}
{% block head %}
    <title>¡Bienvenido a Devsocial!</title>
    <meta name="description" content="Comunidad de desarrolladores de software.">
{% endblock %}
{% block style_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main-inicio.css" />
{% endblock%}
{% block body %}
	<section id="contenido">
		<div id="contenido-formulario">
			<form name="ingreso" id="ingreso" method="post">
			 	<div id="input-nombre">
			 		<i class="icon-user"></i>
			 		<input type="text" id="nombre" placeholder="Escoge un usuario">
			 	</div>
			 	<div id="input-email">
			 		<i class="icon-mail"></i>
			 		<input type="email" id="email" placeholder="Correo electronico">
			 	</div>
			 	<div id="input-password">
			 		<i class="icon-password"></i>
			 		<input type="password" id="password" placeholder="Contraseña">
			 	</div>
			 	<input type="submit" id="boton" value="Registrate en Devsocial">
			 </form>
		</div>
		<div id="contenido-bienvenida">
			<img src="static/img/hola.png">
			<h2>Comunidad de desarrolladores de software</h2>
			<h3>Explora nuevos horizontes de desarrollo</h3>
		</div>
		<div id="contenido-informacion">
			<article>
				<div>
                    <div class="contenedor-icon">
                        <span class="icon-user"></span>
                    </div>
                </div>
				<h2>Diseña tu perfil</h2>
				<p>Muestrale al mundo tu imagen profesional, tus logros e intereses, de una manera comoda y profesional.
				</p>
			</article>
			<article>
				<div>
                    <div class="contenedor-icon">
                        <span class="icon-portafolio"></span>
                    </div>
                </div>
				<h2>Encuentra profesionales</h2>
				<p>Encuentra a nuevos compañeros de trabajo, socializa con personas que laboran el area de dearrollo que a ti mas te interesa.
				</p>
			</article>
			<article>
				<div>
                    <div class="contenedor-icon">
                        <span class="icon-mobile"></span>
                    </div>
                </div>
				<h2>Facil acceso</h2>
				<p>Puedes acceder desde cualquier punto y en cualquier momento a nuestro servicio, fácil y rapido.
				</p>
			</article>
			<article>
				<div>
                    <div class="contenedor-icon">
                        <span class="icon-console"></span>
                    </div>
                </div>
				<h2>Coloca tus habilidades</h2>
				<p>Muestrale al mundo tus habilidades, tus logros y los proyectos en los que has participado.
				</p>
			</article>
		</div>
	</section>
{% endblock %}