{% extends 'base.html' %}
{% block head %}
    <title>Jorge Escalante</title>
    <meta name="description" content="">
{% endblock %}
{% block style_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main-perfil.css" />
{% endblock%}
{% block body %}
	<div id="contenido-wrapper">
		
	</div>
{% endblock %}
{% block js_files %}
	<script src="{{STATIC_URL}}js/vendor/underscore.js"></script>
	<script src="{{STATIC_URL}}js/vendor/backbone.js"></script>
	<script src="{{STATIC_URL}}js/vendor/swig.js"></script>
	<script src="{{STATIC_URL}}js/init.js"></script>
	<script src="{{STATIC_URL}}js/backbone/views/usuario.js"></script>
	<script src="{{STATIC_URL}}js/backbone/models/usuario.js"></script>
	<script src="{{STATIC_URL}}js/backbone/collections/usuarios.js"></script>
	<script src="{{STATIC_URL}}js/backbone/routers/base.js"></script>
	<script src="{{STATIC_URL}}js/main-perfil.js"></script>
{% endblock %}