{% extends 'base.html' %}
{% block head %}
    <title>Devsocial | Login</title>
    <meta name="description" content="">
{% endblock %}
{% block style_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" />
{% endblock %}
{% block body %}
<section id="contenido">
	<img src="/static/img/icono382x125.png" height="62.5" width="191"/>
	<form method='post' enctype="multipart/form-data">
		{% csrf_token %}
		<img src="/media/{{perfil.foto}}" />
		{{form.as_p}}
		<input type="submit" value="Registrar">
	</form>
</section>
{% endblock %}