{% extends 'base.html' %}
{% block head %}
    <title>Devsocial - </title>
    <meta name="description" content="">
{% endblock %}
{% block style_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tecnologia.css" />
{% endblock%}
{% block body %}
	<section id="contenido">
		<section id="contenido-left" class="contenido-left">
		    <section id="tecnologia-usuarios">
		        <div id="usuarios-cabecera">
		            <div class="contenedor-icon">
		                <span class="icon-users"></span>
		            </div>
		            <h3>Usuarios que utilizan esta tecnologia</h3>
		        </div>
		        <section>
		            <button href="#" id="usuarios-mas" class="btn-aceptar">Mostrar más
		            </button>
		        </section>
		    </section>
		</section>
	    <section class="contenido-right">
	        <section id="tecnologia-proyectos">
	            <h3>Proyectos relacionados:</h3>
	            <article class="item-proyecto">
	                <div class="item-proyecto-header">
	                    <a href="#">
	                        <img src="img/usuario_thumb.png" height="40" width="40">
	                        <p>Proyecto ahsnuidfniod Proyecto ahsnuidfniod</p>
	                    </a>
	                </div>
	                <div class="item-proyecto-content">
	                    <a href="#">JEscalante92</a>
	                    <p><i class="icon-arrow-up"></i>50 <i class="icon-arrow-down"></i>30</p>
	                </div>
	            </article>
	            <article class="item-proyecto">
	                <div class="item-proyecto-header">
	                    <a href="#">
	                        <img src="img/usuario_thumb.png" height="40" width="40">
	                        <p>Proyecto ahsnuidfniod Proyecto ahsnuidfniod</p>
	                    </a>
	                </div>
	                <div class="item-proyecto-content">
	                    <a href="#">JEscalante92</a>
	                    <p><i class="icon-arrow-up"></i>50 <i class="icon-arrow-down"></i>30</p>
	                </div>
	            </article>
	            <article class="item-proyecto">
	                <div class="item-proyecto-header">
	                    <a href="#">
	                        <img src="img/usuario_thumb.png" height="40" width="40">
	                        <p>Proyecto ahsnuidfniod Proyecto ahsnuidfniod</p>
	                    </a>
	                </div>
	                <div class="item-proyecto-content">
	                    <a href="#">JEscalante92</a>
	                    <p><i class="icon-arrow-up"></i>50 <i class="icon-arrow-down"></i>30</p>
	                </div>
	            </article>
	            <article class="item-proyecto">
	                <div class="item-proyecto-header">
	                    <a href="#">
	                        <img src="img/usuario_thumb.png" height="40" width="40">
	                        <p>Proyecto ahsnuidfniod Proyecto ahsnuidfniod</p>
	                    </a>
	                </div>
	                <div class="item-proyecto-content">
	                    <a href="#">JEscalante92</a>
	                    <p><i class="icon-arrow-up"></i>50 <i class="icon-arrow-down"></i>30</p>
	                </div>
	            </article>
	            <article class="item-proyecto">
	                <div class="item-proyecto-header">
	                    <a href="#">
	                        <img src="img/usuario_thumb.png" height="40" width="40">
	                        <p>Proyecto ahsnuidfniod Proyecto ahsnuidfniod</p>
	                    </a>
	                </div>
	                <div class="item-proyecto-content">
	                    <a href="#">JEscalante92</a>
	                    <p><i class="icon-arrow-up"></i>50 <i class="icon-arrow-down"></i>30</p>
	                </div>
	            </article>
	            <a id="mostrarmas" href="#">Mostrar más</a>
	        </section>
	    </section>
    </section>
{% endblock %}
{% block js_files %}
	<script src="{{STATIC_URL}}js/vendor/underscore.js"></script>
	<script src="{{STATIC_URL}}js/vendor/backbone.js"></script>
	<script src="{{STATIC_URL}}js/vendor/swig.js"></script>
	<script src="{{STATIC_URL}}js/init.js"></script>
	<script src="{{STATIC_URL}}js/backbone/views/usuario.js"></script>
	<script src="{{STATIC_URL}}js/backbone/views/tecnologia.js"></script>
	<script src="{{STATIC_URL}}js/backbone/models/usuario.js"></script>
	<script src="{{STATIC_URL}}js/backbone/models/tecnologia.js"></script>
	<script src="{{STATIC_URL}}js/backbone/collections/usuarios.js"></script>
	<script src="{{STATIC_URL}}js/backbone/collections/tecnologias.js"></script>
	<script src="{{STATIC_URL}}js/main-tecnologia.js"></script>
{% endblock %}